// color
$primary-color: #002f5a;
$secondary-color: #0067c6;
$tertiary-color: #00498c;
$category-color: #a0aec0;
$white-color: #fff;

// border-radius
$border-radius: 12px;
$border-inner-radius: 8px;

// font
$title-font: 1.5rem;
$lage-font: 1.25rem;
$main-font: 1rem;
$sub-font: 0.875rem;
$small-font: 0.75rem;
